<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("qwmlb3vhb2o2saoe9wkf") %>');">
<div class="container">
  <div class="row">
    <div class="col col-sm-4 col-sm-offset-4">
      <h1>Edit <%= @cocktail.name %></h1>
      <%= render 'form' %>
    </div>
  </div>
</div>

</div>
<%= link_to "Back", cocktail_path(@cocktail), class: "btn-medium btn-back" %>
